.header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #000;

  a {
    margin-left: 10px;
    padding: 10px;
    color: rgba(0, 0, 0, 1);

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

.content {
  width: 1010px;
  margin: 0 auto;
  padding: 80px 0;

  @media (max-width: 1110px) {
    width: 670px;
  }

  @media (max-width: 770px) {
    width: 320px;
  }
}
